/* ========================= server font =================*/

@font-face { 
font-family: Roboto-Condensed; 
 src:url("/fonts/Roboto/Roboto-Condensed.ttf") format("truetype");
}

@font-face { 
font-family: Candara; 
 src:url("/fonts/Candara/Candara.ttf") format("truetype");
}

@font-face { 
font-family: LithosPro-Black; 
 src:url("/fonts/Englist_font/LithosPro-Black.otf") format("opentype");
}