
/* -----------------------------formpage-----------------------*/
.formpage{
	height:740px;
/*	background: url('/images/background/background-1.jpg') no-repeat ;
	background-size: 100% 100%;*/
}

.formpage .formbox{
	top: 10%;
	left: 20%;
	width: 50%;
	height: 80%;
	padding: 0 15px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.formpage .formbox .form{
	height: 75%;
	width: 65%;
	font-size: 30px;
	color: #F08080;
}

.formpage .formbox .form  div{
	height: 50px;
}

.formpage .formbox .form input{
	height: 100%;
	width: 100%;
}
.formpage .formbox .form button{
	height: 100%;
}

.formpage .formbox .form  input , .formpage .formbox .form textarea{
	font-size: 20px;
}

/*.formpage .row{
	height: 12%;
	border-bottom: 1px dashed #BFEFFF;
	font-size: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.formpage .textarea{
	height: 300px;
}
.formpage .textarea textarea{
	height: 100%;
	width: 100%;
}
#page-4 .btn{
	width: 150px;
	height:60px;
	font-size:30px;
	margin-top: 20px;
	left: 77%;
	top: 75%;
	position: absolute;
}

.formpage .square{
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.formpage .square input{
	border: none;
	outline: none;
	border-bottom: 1px solid #AAAAAA;
	font-size:30px;
	color: #E0E0EE;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}
.formpage .square input:focus{
	color: blue;
	font-style: italic;
	font-family: Montserrat;
}

*/