
<link rel="stylesheet" type="text/less" href="/less/bottom.less">

<section class="bottomframe">
	<div class=" container">
		<div class="row">
			<div class="col col-sm-4 flexbox">
			<div class="flexbox direc-col">
				<span style="font-size:30px;" txt="company"></span>
				<span txt="p1"></span>
			</div>
			</div>
			<div class="col col-sm-4 flexbox">
			<div class="flexbox direc-col">
				<span txt="p2"></span>
				<div class="links">
					<span><li class="fa fa-github-square"> <a target="_blank" href="https://github.com/radxa">GitHub </a></li></span>
					<span><li class="fa fa-flickr"> <a target="_blank" href="/">Flickr</a></li>	</span>
					<span><li class="fa fa-google-plus-square"> <a target="_blank" href="/">Google plus</a></li></span>
				</div>
				<div class="links">
					<span><li class="fa fa-facebook-square"> <a target="_blank" href="/">FaceBook</a></li></span>
					<span><li class="fa fa-twitter-square"> <a target="_blank" href="/">Twitter</a></li></span>
					<span><li class="fa fa-question-circle"> <a target="_blank" href="http://talk.radxa.com/">Radxa Talk</a></li></span>
				 </div>
			</div>
			</div>
			<div class="col col-sm-4 flexbox">
			<div class="flexbox direc-col">
				<span >Web frame base on <a target="_blank" href="http://getbootstrap.com">Boostrap</a> and <a target="_blank" href="http://jquery.com">Jquery</a></span>
				<span >Icon from <a target="_blank" href="https://fortawesome.github.io/Font-Awesome/">Awesome</a></span>
			</div>
			</div>
		</div>
	</div>
</section>

