
<link rel="stylesheet" type="text/less" href="/less/bottom.less">

<section class="bottomframe">
	<div class=" container">
		<div class="row">
			<div class="col col-sm-4 flexbox">
			<div class="flexbox direc-col">
				<span style="font-size:30px;">RADXA</span>
				<span>Copyright © China ShenZhen RADXA  2015</span>
				<span>Made with by Kevin Xia and Jevola</span>
			</div>
			</div>
			<div class="col col-sm-4 flexbox">
			<div class="flexbox direc-col">
				<span>AROUND AREAS</span>
				<div class="links">
					<span><li class="fa fa-github-square"> <a href="/">GitHub  </a></li></span>
					<span><li class="fa fa-flickr"> <a href="/">Flickr</a></li>	</span>
					<span><li class="fa fa-google-plus-square"> <a href="/">Google plus</a></li></span>
				</div>
				<div class="links">
					<span><li class="fa fa-facebook-square"> <a href="/">FaceBook</a></li></span>
					<span><li class="fa fa-twitter-square"> <a href="/">Twitter</a></li></span>
					<span><li class="fa fa-question-circle"> <a href="/">Radxa Talk</a></li></span>
				 </div>
			</div>
			</div>
			<div class="col col-sm-4 flexbox">
			<div class="flexbox direc-col">
				<span >Web frame base on <a href="http://getbootstrap.com">Boostrap</a> and <a href="http://jquery.com">Jquery</a></span>
				<span >Icon from <a href="https://fortawesome.github.io/Font-Awesome/">Awesome</a></span>
			</div>
			</div>
		</div>
	</div>
</section>

