<link rel="stylesheet" type="text/css" href="/less/bottom.css">
<footer class="bottomframe">
    <div class=" container">
<!--         <div class="row">
    <div class="col col-sm-4">
        <div class="row">
            <h4 class="bmtitle" txt="company"></h4>
        </div>
        <div class="row">
            <p txt="bm_p0"></p>
        </div>
        <div class="row">
            <p txt="bm_p1"></p>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="row">
            <h4 txt="bm_p2" class="bmtitle"></h4>
        </div>
        <div class="row">
            <div class="links">
                <span><li class="fa fa-github-square"> <a target="_blank" href="https://github.com/radxa">GitHub </a></li></span>
                <span><li class="fa fa-flickr"> <a target="_blank" href="https://www.flickr.com/photos/111300693@N02/">Flickr</a></li>	</span>
                <span><li class="fa fa-google-plus-square"> <a target="_blank" href="https://plus.google.com/communities/114007636590240429960">Google plus</a></li></span>
            </div>
        </div>
        <div class="row">
            <div class="links">
                <span><li class="fa fa-facebook-square"> <a target="_blank" href="https://www.facebook.com/groups/218416868348521/">FaceBook</a></li></span>
                <span><li class="fa fa-twitter-square"> <a target="_blank" href="https://twitter.com/radxa_oshw">Twitter</a></li></span>
                <span><li class="fa fa-question-circle"> <a target="_blank" href="http://talk.radxa.com/">Radxa Talk</a></li></span>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="row">
            <h4 txt="bm_p3" class="bmtitle"></h4>
        </div>
        <div class="row">
            <p txt="phone"></p>
        </div>
        <div class="row">
            <p txt="address"></p>
        </div>
    </div>
</div> -->
		<div class="row content text-left">
			<figure class="col-sm-2 col-xs-6  col-sm-offset-1 line">
				<h4 txt="footer_sec1_t"></h4>
                <a txt="footer_sec1_p1"></a>
                <a txt="footer_sec1_p2"></a>
                <a txt="footer_sec1_p3"></a>
			</figure>
			<figure class="col-sm-2 col-xs-6  col-sm-offset-1 line">
                <h4 txt="footer_sec2_t"></h4>
                <a txt="footer_sec2_p1"></a>
                <a txt="footer_sec2_p2"></a>
                <a txt="footer_sec2_p3"></a>
            </figure>
            <figure class="col-sm-2 col-xs-6  col-sm-offset-1 line">
                <h4 txt="footer_sec3_t"></h4>
                <a txt="footer_sec3_p1"></a>
                <a txt="footer_sec3_p2"></a>
                <a txt="footer_sec3_p3"></a>
            </figure>
            <figure class="col-sm-2 col-xs-6  col-sm-offset-1">
                <h4 txt="footer_sec4_t"></h4>
                <a txt="footer_sec4_p1"></a>
                <a txt="footer_sec4_p2"></a>
                <a txt="footer_sec4_p3"></a>
            </figure>
		</div>
        <hr>
        <div class="row copyright text-center">
            <img src="/logo-mid.jpg" alt="logo">
        	<h6 txt="footer_copyright"></h6>
        </div>
    </div><!-- container -->
</footer>
