<link rel="stylesheet" type="text/css" href="/less/bottom.css">
<footer class="bottomframe">
    <div class=" container">
		<div class="row content text-left">
			<figure class="col-sm-2 col-xs-6  col-sm-offset-1 line">
				<h4 txt="footer_sec1_t"></h4>
                <a txt="footer_sec1_p1" href="/about/company/#1" class="en-zh"></a>
                <a txt="footer_sec1_p2" href="/about/company/#2" class="en-zh"></a>
                <a txt="footer_sec1_p3" href="/about/company/#3" class="en-zh"></a>
			</figure>
			<figure class="col-sm-2 col-xs-6  col-sm-offset-1 line">
                <h4 txt="footer_sec2_t"></h4>
                <a txt="footer_sec2_p1" href="/about/business/#1" class="en-zh"></a>
                <a txt="footer_sec2_p2" href="/about/business/#2" class="en-zh"></a>
                <a txt="footer_sec2_p3" href="/about/business/#3" class="en-zh"></a>
            </figure>
            <figure class="col-sm-2 col-xs-6  col-sm-offset-1 line">
                <h4 txt="footer_sec3_t"></h4>
                <a txt="footer_sec3_p1"></a>
                <a txt="footer_sec3_p2"></a>
                <a txt="footer_sec3_p3"></a>
            </figure>
            <figure class="col-sm-2 col-xs-6  col-sm-offset-1 icons">
                <h4 txt="footer_sec4_t"></h4>
                <div class="flexbox direc-col main-center secon-start">
                    <div class="up flexbox main-center">
                        <div class="left">
                            <a class="linkicon-github" title="Github" target="_blank"  style="" href="https://github.com/radxa"><i class="fa fa-github-square"></i></a>
                        </div>
                        <div class="right">
                            <a class="linkicon-flickr" title="Flickr" target="_blank" href="https://www.flickr.com/photos/111300693@N02/"><i class="fa fa-flickr"></i></a>
                            <a class="linkicon-google" title="Google+" target="_blank" href="https://plus.google.com/communities/114007636590240429960"><i class="fa fa-google-plus-square"></i></a>
                        </div>
                    </div>
                    <div class="down flexbox main-center">
                        <a class="linkicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/groups/218416868348521/"><i class="fa fa-facebook-square"></i></a>
                        <a class="linkicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/radxa_oshw"><i class="fa fa-twitter-square"></i></a>
                        <a class="linkicon-talk" title="Radxa Talk" target="_blank" href="http://talk.radxa.com/"><i class="fa fa-wechat"></i></a>
                    </div>
                </div>
            </figure>
		</div>
        <hr>
        <div class="row copyright text-center">
            <img src="/logo-mid.jpg" alt="logo">
        	<h6 txt="footer_copyright"></h6>
        </div>
    </div><!-- container -->
</footer>
