
<link rel="stylesheet" type="text/css" href="/css/bottom.css"> <!-- less-css -->

<section class="bottomframe">
	<div class=" container">
		<div class="row">
			<div class="col col-sm-4 flexbox">
				<div class="flexbox direc-col txtbox">
					<span class="bmtitle" txt="company"></span>
					<span txt="bm_p0"></span>
					<span txt="bm_p1"></span>
				</div>
			</div>
			<div class="col col-sm-4 flexbox">
				<div class="flexbox direc-col txtbox">
					<span txt="bm_p2" class="bmtitle"></span>
					<div class="links">
						<span><li class="fa fa-github-square"> <a target="_blank" href="https://github.com/radxa">GitHub </a></li></span>
						<span><li class="fa fa-flickr"> <a target="_blank" href="https://www.flickr.com/photos/111300693@N02/">Flickr</a></li>	</span>
						<span><li class="fa fa-google-plus-square"> <a target="_blank" href="https://plus.google.com/communities/114007636590240429960">Google plus</a></li></span>
					</div>
					<div class="links">
						<span><li class="fa fa-facebook-square"> <a target="_blank" href="https://www.facebook.com/groups/218416868348521/">FaceBook</a></li></span>
						<span><li class="fa fa-twitter-square"> <a target="_blank" href="https://twitter.com/radxa_oshw">Twitter</a></li></span>
						<span><li class="fa fa-question-circle"> <a target="_blank" href="http://talk.radxa.com/">Radxa Talk</a></li></span>
					 </div>
				</div>
			</div>
			<div class="col col-sm-4 flexbox">
				<div class="flexbox direc-col txtbox">
					<span txt="bm_p3" class="bmtitle"></span>
					<span txt="phone"></span>
					<span txt="address"></span>
				</div>
			</div>
		</div>
	</div>
</section>

