
<link rel="stylesheet" type="text/css" href="/less/bottom.css">

<section class="bottomframe">
	<div class=" container">
		<div class="row">
			<div class="col col-sm-4">
				<div class="row">
					<h4 class="bmtitle" txt="company"></h4>
				</div>
				<div class="row">
					<p txt="bm_p0"></p>
				</div>
				<div class="row">
					<p txt="bm_p1"></p>
				</div>
			</div>
			<div class="col col-sm-4">
				<div class="row">
					<h4 txt="bm_p2" class="bmtitle"></h4>
				</div>
				<div class="row">
					<div class="links">
						<span><li class="fa fa-github-square"> <a target="_blank" href="https://github.com/radxa">GitHub </a></li></span>
						<span><li class="fa fa-flickr"> <a target="_blank" href="https://www.flickr.com/photos/111300693@N02/">Flickr</a></li>	</span>
						<span><li class="fa fa-google-plus-square"> <a target="_blank" href="https://plus.google.com/communities/114007636590240429960">Google plus</a></li></span>
					</div>
				</div>
				<div class="row">
					<div class="links">
						<span><li class="fa fa-facebook-square"> <a target="_blank" href="https://www.facebook.com/groups/218416868348521/">FaceBook</a></li></span>
						<span><li class="fa fa-twitter-square"> <a target="_blank" href="https://twitter.com/radxa_oshw">Twitter</a></li></span>
						<span><li class="fa fa-question-circle"> <a target="_blank" href="http://talk.radxa.com/">Radxa Talk</a></li></span>
					 </div>
				</div>
			</div>
			<div class="col col-sm-4">
				<div class="row">
					<h4 txt="bm_p3" class="bmtitle"></h4>
				</div>
				<div class="row">
					<p txt="phone"></p>
				</div>
				<div class="row">
					<p txt="address"></p>
				</div>
			</div>
		</div>
	</div>
</section>
