
<link rel="stylesheet/less" type="text/css" href="/less/header.less">

<nav class="navbar navbar-default " role="navigation" id='header'>
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo" href="/" ><img src="/images/radxa.png"></a>
  </div>

  <div class="collapse navbar-collapse links" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/more" txt="menu_1"></a></li>
      <li><a href="#" txt="menu_2"></a></li>
      <li><a href="#" txt="menu_3"></a></li>
      <li><a href="/project" txt="menu_4"></a></li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" txt="language_active">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="changelanguage" txt="language_2">Dropdown</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</nav>
