<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

<div class="alink-group navbar-fixed-top">
	<div class="logo flexbox">
		<span><a href="/">RADXA</a></span>
	</div>
	<div class="btns">
		<div class="btnx"><span>Wiki</span></div>
		<div class="btnx"><span> Store</span></div>
		<div class="btnx"><span>Community</span></div>
		<div class="btnx"><span><a href="/project">Project</a></span></div>
	</div>
</div>