
<link rel="stylesheet" type="text/css" href="/css/header.css"> <!-- less-css -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id='header'>
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo" href="/" ><img src="/images/home/radxa2.png"></a>
  </div>

  <div class="collapse navbar-collapse links" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" txt="home"></a></li>
      <li><a href="/platform" class="en-ch" txt="menu_1"></a></li>
      <li><a href="/designservice" txt="menu_2"></a></li>
      <li><a href="/project" class="en-ch" txt="menu_3"></a></li>
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" txt="menu_4"><b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
      </li>
    </ul>
  </div>
  <a class="changelanguage" txt="language_2"></a>
  </div>
</nav>
