.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.direc-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.main-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.main-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.secon-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.secon-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.secon-between {
  -webkit-align-items: space-between;
  align-items: space-between;
}
.secon-around {
  -webkit-align-items: space-around;
  align-items: space-around;
}
.full {
  width: 100%;
  height: 100%;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 0px;
  text-align: center;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
  cursor: pointer;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
h1 {
  Font-family: "Roboto-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 42px;
}
h2 {
  color: #333333;
  font-family: "Candara", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 30px;
}
h3 {
  color: #686767;
  font-family: "Candara", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 20px;
}
.bigpage {
  Font-family: "Roboto-Light", "SimHei";
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.bigpage:hover {
  text-decoration: none;
}
/* ========================= top frame =================*/
.topframe {
  margin-top: 100px;
  width: 100%;
  background-color: #101010;
  height: 768px;
  position: relative;
  background: url("/images/home/banner.jpg") no-repeat top center;
  background-size: cover;
}
.topframe .cover {
  background-color: black;
  opacity: 0.85;
}
.maintitle {
  opacity: 0;
  color: white;
  overflow: hidden;
  text-transform: uppercase;
}
.maintitle span {
  text-align: center;
  display: block;
  margin: 10px;
}
.maintitle span:nth-child(1) {
  font-size: 100px;
  white-space: nowrap;
  overflow: hidden;
}
/* ========================= pages =================*/
.page {
  width: 100%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.page .showner {
  opacity: 0;
}
.page .allcontent {
  opacity: 0;
}
.page .title-line {
  color: #333333;
  height: 50px;
  width: 100%;
}
.page .title-line:before,
.page .title-line:after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 30%;
  background-color: #0199cb;
}
.page .title-line h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.page .iconimg {
  background-position: center center;
  background-repeat: no-repeat;
}
.page .morebtn button {
  background-color: inherit;
  border: 2px solid #0199cb;
  color: #f4972a;
  border-radius: 0px;
  height: 45px;
  width: 140px;
}
.page .morebtn button:after {
  content: ">>";
  margin-left: 5px;
}
#page-1 .texts h1,
#page-1 .texts h2,
#page-1 .texts h3 {
  text-align: center;
}
#page-1 .info-group {
  height: 80%;
  width: 90%;
}
#page-1 #row-2 {
  margin-top: 50px;
}
#page-1 #row-2 .iconimg {
  width: 140px;
  height: 140px;
  background-size: 100% auto;
  border-radius: 50%;
}
#page-1 #row-2 #col-1 .iconimg {
  background-image: url("/images/home/new icons1.png");
}
#page-1 #row-2 #col-2 .iconimg {
  background-image: url("/images/home/new icons3.png");
}
#page-1 #row-2 #col-3 .iconimg {
  background-image: url("/images/home/new icons2.png");
}
#page-1 #row-2 .texts {
  min-height: 100px;
}
#page-1 #row-2 h2 {
  margin-top: 40px;
}
#page-1 #row-2 .morebtn {
  margin-top: 30px;
}
@media (min-width: 1300px) {
  #page-1 #row-2 a .iconimg {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 10;
  }
  #page-1 #row-2 a:hover .iconimg {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    background-color: white;
  }
}
#page-2 {
  min-height: 700px;
  padding-bottom: 0px;
  background-color: #F3F3F3;
}
#page-2 .allcontent {
  margin-top: 10px;
}
#page-2 .texts {
  width: 100%;
  align-items: flex-start;
}
#page-2 .texts h1,
#page-2 .texts h2,
#page-2 .texts h3 {
  width: 100%;
}
#page-2 .morebtn {
  margin-top: 50px;
}
#page-2 #row-1 .iconimg {
  width: 120px;
  height: 120px;
  background: url("/images/home/hardware icon.png") no-repeat;
  background-size: 100% auto;
}
#page-2 #row-1 .col {
  height: 120px;
}
#page-2 #row-1 .col:nth-of-type(1) {
  width: 120px;
  padding: 0px;
}
#page-2 #row-1 .col:nth-of-type(2) {
  border-bottom: 2px solid #0199cb;
}
#page-2 #row-2 .col {
  height: 440px;
}
#page-2 #row-2 img {
  width: 108%;
}
#page-3 {
  min-height: 700px;
  padding-bottom: 0px;
}
#page-3 .allcontent {
  margin-top: 10px;
}
#page-3 .texts {
  align-items: flex-start;
}
#page-3 #row-1 .iconimg {
  width: 120px;
  height: 120px;
  background: url("/images/home/hardware icon (2).png") no-repeat;
  background-size: 100% auto;
}
#page-3 #row-1 .col {
  height: 120px;
}
#page-3 #row-1 .col:nth-of-type(1) {
  width: 120px;
  padding: 0px;
}
#page-3 #row-1 .col:nth-of-type(2) .line {
  height: 2px;
  width: 45%;
  background-color: #0199cb;
  margin-left: 20px;
  margin-top: 10px;
}
#page-3 #row-2 {
  margin-top: 60px;
}
#page-3 #row-2 .col {
  height: 350px;
  padding: 0px;
}
#page-3 #row-2 .texts {
  width: 100%;
}
#page-3 #row-2 .texts h1,
#page-3 #row-2 .texts h2,
#page-3 #row-2 .texts h3 {
  width: 100%;
}
#page-3 #row-2 h3,
#page-3 #row-2 .morebtn {
  margin-top: 50px;
}
#page-4 {
  width: 100%;
  background-color: white;
  min-height: 700px;
}
#page-4 .allcon {
  width: 550px;
}
#page-4 [txt='hello'] {
  font-size: 60px;
  color: white;
}
#page-4 .form {
  font-size: 30px;
  color: #0199cb;
}
#page-4 .form .form-horizontal .form-group {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}
#page-4 .form .form-horizontal .form-group i {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -50px;
  top: 5px;
  text-align: center;
}
#page-4 .form .form-horizontal .form-group span {
  font-size: 40px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100%;
  top: 5px;
  text-align: center;
}
#page-4 .form textarea,
#page-4 .form input {
  height: 100%;
  width: 100%;
  font-size: 20px;
}
#page-4 .form .form-control::-moz-placeholder {
  color: #0199cb;
  opacity: 0.4;
}
#page-4 .form button {
  height: 60px;
  font-size: 30px;
  color: white;
  background-color: #0199cb;
  border: 3px solid white;
}
#page-4 .form button:hover {
  background-color: #12aadc;
}
#page-5 #text1 {
  font-size: 60px;
  text-align: center;
}
#page-5 #text1 hr {
  background-color: #2C3E50;
  height: 3px;
}
#page-5 .iconline {
  opacity: 0.6;
}
#page-5 .iconline .doublelinebox {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
#page-5 .iconline .doublelinebox:nth-child(1) {
  align-items: flex-end;
  margin-right: 10px;
}
#page-5 .iconline .doublelinebox:nth-child(3) {
  align-items: flex-start;
  margin-left: 10px;
}
#page-5 .iconline .doublelinebox div:nth-child(1) {
  width: 200px;
  height: 20px;
}
#page-5 .iconline .doublelinebox div:nth-child(2) {
  width: 100px;
  height: 20px;
}
#page-5 .iconimg {
  height: 150px;
  width: 300px;
}
#page-5 #partner-1 {
  background-image: url("/images/partner/hvpd.jpg");
}
#page-5 #partner-2 {
  background-image: url("/images/partner/hitech.png");
}
#page-5 #partner-3 {
  background-image: url("/images/partner/mozilla.jpg");
  background-size: 60% auto;
  height: 160px;
}
#page-5 #partner-4 {
  background-image: url("/images/partner/spectek_logo.gif");
}
#page-5 #partner-5 {
  background-image: url("/images/partner/kddi.jpg");
}
#page-6 {
  padding: 0 15px;
  min-height: 430px;
}
#page-6 #row-1 {
  margin-top: 50px;
  font-size: 60px;
  color: #0199cb;
  font-weight: bold;
  border-bottom: 1px solid #EEE;
  position: relative;
  overflow: hidden;
}
#page-6 .pro {
  width: 100%;
  min-height: 350px;
  align-items: flex-start;
}
#page-6 .pro .projectborder {
  align-items: center;
  min-height: 250px;
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#page-6 .pro .projectborder:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#page-6 .pro .projectborder:hover a {
  text-decoration: none;
}
#page-6 .pro .projectborder .project {
  min-height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#page-6 .pro .projectborder .project-text {
  color: #686767;
  font-size: 20px;
}
#page-7 {
  min-height: 700px;
  background-color: #F3F3F3;
}
#page-7 #row-1 .line {
  height: 2px;
  width: 442px;
  background-color: #0199cb;
  margin-top: 40px;
}
#page-7 #row-2 {
  margin-top: 70px;
}
#page-7 #row-2 .col {
  height: 365px;
}
#page-7 #row-2 #carousel-example-generic .carousel-indicators {
  bottom: -60px;
}
#page-7 #row-2 #carousel-example-generic .carousel-indicators li {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
}
#page-7 #row-2 #carousel-example-generic .carousel-indicators li.active {
  background-color: #0199cb;
}
#page-7 #row-2 #carousel-example-generic .wrap img {
  width: 550px;
}
@media (max-width: 767px) {
  #header .navbar-right {
    border-top: none;
  }
  #header .navbar-right a {
    margin-left: 0px;
  }
  .page .title-line:before,
  .page .title-line:after {
    width: 0;
  }
  .page .texts p {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  #page-3 .col-2 #row-1-1 .col,
  #page-3 .col-2 #row-1-2 .col {
    min-height: 0px;
  }
}
@media (max-width: 1200px) and (min-width: 767px) {
  .maintitle span:nth-child(1) {
    font-size: 50px;
  }
  .maintitle span:nth-child(2) {
    font-size: 30px;
  }
  .page .title-line:before,
  .page .title-line:after {
    width: 0;
  }
  .page .texts p {
    font-size: 20px;
  }
}
