.marked h1 {
  font-size: 50px;
  line-height: 100px;
}
.marked h2 {
  font-size: 45px;
  line-height: 90px;
}
.marked h3 {
  font-size: 40px;
  line-height: 30px;
  margin-top: 50px;
}
.marked h4 {
  font-size: 35px;
  line-height: 30px;
  margin-top: 50px;
}
.marked h5 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
}
.marked p {
  font-size: 20px;
  line-height: 30px;
  opacity: 0.8;
}
.marked li {
  font-size: 20px;
  line-height: 40px;
  opacity: 0.8;
}
