<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/test/home-page-2.css">

<section class="page" id="page-2" data-title="Platform">

	<div class="imgs ">
	</div>
	<div class="text" id="text1">
		<div class="title"><span>Various Platform</span></div>
		<div class="content">
			<span>MAST<hr/>From low cost to high end, choose what fit for you </span>
			<span>DO<hr/>We can provide low cost solution as well as the high performance solution, choose what best for the customers according to application </span>
		</div>
	</div>
	<div class="updir">
		<li class="prepage fa fa-angle-double-up" style='color:black;'></li>	
	</div>
	<div class="downdir">
		<li class="nextpage fa fa-angle-double-down"></li>	
	</div>
</section>