<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/test/home-page-3.css">

<section class="page" id="page-3" data-title="Partner">
	<div class="text" id="text1">
		<div class="title">
			<span>They are working with Radxa</span>
			<div class="iconline">
				<div class="doublelinebox"><div><hr/></div><div><hr/></div></div>
				<div style="color:#FFC125;"><i class=" fa fa-beer"></i></div>
				<div class="doublelinebox"><div><hr/></div><div><hr/></div></div>
			</div>
		</div>
	</div>

	<div class="img" id="partner-1"></div>
	<div class="img" id="partner-2"></div>
	<div class="img" id="partner-3"></div>
	<div class="img" id="partner-4"></div>
	<div class="img" id="partner-5"></div>

	<div class="updir">
		<li class="prepage fa fa-angle-double-up" style='color:black;'></li>	
	</div>
	<div class="downdir">
		<li class="nextpage fa fa-angle-double-down"></li>	
	</div>
</section> 