<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/test/home-page-1.css">

<section class="page" id="page-1" data-title="Open">
	<div class="updir">
		<li class="prepage fa fa-angle-double-up" style='color:black;'></li>
	</div>
	<div class="shadow-box imgborder">
		<span class="anima-line top-line"></span>
		<span class="anima-line right-line"></span>
		<span class="anima-line bottom-line"></span>
		<span class="anima-line left-line"></span>	
	</div>
	<div class="imgs ">
	</div>
	<div class="text square-outline" id="text1">
		<span>Open Source Hardware</span><span>for everyone</span>
		<span class="anima-line top-line"></span>
		<span class="anima-line right-line"></span>
		<span class="anima-line bottom-line"></span>
		<span class="anima-line left-line"></span>	
	</div>
	<div class="text"  id="text2">
		<span>Free access to the design of modern electronic devices by us</span><hr/>
	</div>
	<div class="text" id="text3">
		<span>We provide open source hardware platform for prototyping, the software hardware design is freely available from the internet, no NDA required. These software/hardware design is verified and ready to use. Anyone can edit/modify to develop their own products.</span><hr/>
	</div>
	<div class="downdir">
		<li class="nextpage fa fa-angle-double-down" style='color:black;'></li>	
	</div>
</section>