
<section class="page" id="page-6" data-title="6">
<div class="container">
 	<div class="row " id="row-1">
		<div class="col-sm-12 ">
			<div class="projecttil">Project</div>
		</div>
		<div class="shadowbox"></div>
	</div>
</div>
 	<div class="row allcontent">
 		<% for( var s = 0; s < projectname.length; s++ ){ %>

 			<div class="col-lg-3 col-sm-4  projectborder">
 			<a href="/project/#<%= projectname[s].name %>">
				<div class="project" id="project-1" style='background-image: url("<%= projectname[s].imgs %>");'></div>
				<div class="project-text"><%= projectname[s].name %></div>
			</a>
			</div>

 		<% } %>
<!-- 		<div class="col-lg-3 col-sm-4  projectborder">
			<div class="project" id="project-1"></div>
			<div class="project-text">the software hardware design is freely available from the internet,</div>
		</div>
		<div class="col-lg-3 col-sm-4 projectborder ">
			<div class="project" id="project-2"></div>
			<div class="project-text">the software hardware design is freely available from the internet,</div>
		</div>
		<div class="col-lg-3 col-sm-4 projectborder ">
			<div class="project" id="project-3"></div>
			<div class="project-text">the software hardware design is freely available from the internet,</div>
		</div>
		<div class="col-lg-3 col-sm-4 projectborder">
			<div class="project" id="project-4"></div>
			<div class="project-text">the software hardware design is freely available from the internet,</div>
		</div> -->
	</div> 

</section>
