
<section class="page" id="page-3" data-title="3">
	<div class="allcontent container" >

		<div class="row " id="row-1">
			<div class="col col-xs-1  flexbox main-end">
				<div class="iconimg"></div>
			</div>
			<div class="col col-xs-10  flexbox main-start">
				<div class="texts "><h1  class="pagetitle" txt="p3_t1"></h1></div>
				<div class="line"></div>
			</div>
		</div>
		<div class="row " id="row-2">
			<div class="col col-xs-5  flexbox main-start">
				<img src="/images/home/boardele.png">
			</div>

			<div class="col col-xs-6 col-xs-offset-1 flexbox direc-col main-end">
				<div class="texts flexbox direc-col main-end ">
					<h2 class="onestatment" txt="p3_t2"></h2>
					<h3 txt="p3_t3"></h3>
					<div class="morebtn">
						<a href="/platform" class="en-ch"><button type="button" class="btn btn-default btn-lg"  txt="more"> </button></a>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>