<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/v0.1/page-3.css">

<section class="page" id="page-3" data-title="3">
	<div class="time-lines flexbox">
		<div class="stepicon"></div>
		<div class="stepicon"></div>
		<div class="stepicon"></div>
		<div class="stepicon"></div>
		<div class="stepicon"></div>
	</div>

	<div class="imgs img-1">
	</div>

	<div class="text flexbox direc-col main-between">
		<p class="pagetitle">Design service</p>
		<p class="onestatment">Your idea to a real prototype , in 4 weeks</p>
		<p>By re-use the design of open source hardware(including the software stack, supply chain), we can provide quick customised prototyping service. Customer can choose various hardware platform and configuration. </p>
		<div class="morebtn flexbox">
			<button type="button" class="btn btn-default btn-lg">see more <span>>></span></button>
		</div>
	</div>

	<div class="imgs img-2"></div>

</section>
<script type="text/javascript">
	$('.stepicon:not(:last-child)').each(function () {
		$(this).after('<div class="right-box"><span class="direction-right"></span></div>');
	})
</script>