<section class="page flexbox" id="page-2" data-title="2">

	<div class="allcontent container" >


		<div class="row " id="row-2">
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3  col-md-offset-0 flexbox">
				<div class="iconimg"></div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 ">
				<div class="texts"><h2  class="pagetitle">Open Source Hardwarefor everyone</h2></div>
			</div>
		</div>
		<div class="row " id="row-3">
			<div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
				<div class="texts">
					<h3 class="onestatment">Free access to the design of modern electronic devices by us</h3>
					<p>We provide open source hardware platform for prototyping, the software hardware design is freely available from the internet, no NDA required. These software/hardware design is verified and ready to use. Anyone can edit/modify to develop their own products.</p>
				</div>

			</div>
			<div class="col-lg-5 col-md-5 flexbox direc-col">
				<div class="morebtn">
					<button type="button" class="btn btn-default btn-lg">see more <span>>></span></button>
				</div>
				<div class="iconimg"></div>
			</div>
		</div>
	</div>



</section>
