
<section class="page" id="page-1" data-title="1">

	<div class="allcontent container" >

		<div class="row " id="row-1">
			<div class="col-lg-12  ">
				<div class="title-line container flexbox main-around">
				<h1 txt="p1_t1"></h1>
				</div>
			</div>
		</div>

		<div class="row" id="row-2">
			<div class="col col-lg-4 col-md-4 col-sm-4">
				<div class="row">
					<div class="col-lg-12 flexbox">
						<div class="iconimg "></div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="texts flexbox direc-col main-around">
							<h2></h2>
							<h3></h3>
						</div>
					</div>
				</div>

			</div>

			<div class="col col-lg-4 col-md-4 col-sm-4">
				<div class="row">
					<div class="col-lg-12 flexbox">
						<div class="iconimg "></div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="texts flexbox direc-col main-around">
							<h2></h2>
							<h3></h3>
						</div>
					</div>
				</div>
	
			</div>

			<div class="col col-lg-4 col-md-4 col-sm-4">
				<div class="row">
					<div class="col-lg-12 flexbox">
						<div class="iconimg "></div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="texts flexbox direc-col main-around">
							<h2 >Factory</h2>
							<h3>  we make it in here</h3>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="row " id="row-3">
			<div class="col-lg-12  ">
				<hr/>
			</div>
		</div>
	</div>
</section>


