<section class="page" id="page-5" data-title="5">

	<div class="allcontent container " >
		<div class="row " id="row-1">
			<div class="col-lg-12">
				<div class="text flexbox direc-col" id="text1">
					<div class="title flexbox direc-col">
						<h1 txt="workingwith"></h1>
						<div class="iconline flexbox">
							<div class="doublelinebox "><div><hr/></div><div><hr/></div></div>
							<div style="color:#FFC125;"><i class=" fa fa-beer"></i></div>
							<div class="doublelinebox"><div><hr/></div><div><hr/></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center" id="row-2">
			<div class="col-md-4">
				<img class="showner img-responsive" id="partner-hvpd" src="/images/partner/hvpd1.png" />
			</div>
			<div class="col-md-4 ">
				<img class="showner img-responsive" id="partner-robotic" src="/images/partner/hitech1.png"/>
			</div>
			<div class="col-md-4 ">
				<img class="showner img-responsive" id="partner-spectek" src="/images/partner/spectek_logo1.png"/>
			</div>
			<div class="col-xs-12 ">
				
				<img class="showner img-responsive" id="partner-avalue" src="/images/partner/avalue1.png"/>
			</div>
			
		</div>

	</div>

</section>
