
<section class="page" id="page-6" data-title="6">
<div class="allcontent">
<div class="container">
 	<div class="row " id="row-1">
		<div class="col-sm-12 ">
			<div class="projecttil"><a href="/project" txt="project" class="bigpage"></a></div>
		</div>
		<div class="shadowbox"></div>
	</div>
</div>
 	<div class="row pro">
 		<% for( var s = 0; s < projectname.length; s++ ){ %>
 			<div class="col-lg-3 col-sm-6  projectborder showner" id="project-<%= s+1 %>">
 			<a href="/project/#<%= projectname[s].name %>" class="flexbox direc-col">
				<div class="project" id="project-1" style='background-image: url("<%= projectname[s].imgs %>");'></div>
				<div class="project-text"><%= projectname[s].name %></div>
			</a>
			</div>
 		<% } %>
	</div> 
</div>
</section>
