<section class="page" id="page-5" data-title="5">

	<div class="allcontent container" >
		<div class="row " id="row-1">
			<div class="col-lg-12">
				<div class="text flexbox direc-col" id="text1">
					<div class="title flexbox direc-col">
						<h1>They are working with Radxa</h1>
						<div class="iconline flexbox">
							<div class="doublelinebox "><div><hr/></div><div><hr/></div></div>
							<div style="color:#FFC125;"><i class=" fa fa-beer"></i></div>
							<div class="doublelinebox"><div><hr/></div><div><hr/></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row " id="row-2">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 flexbox">
				<div class="iconimg showner" id="partner-1"></div>
			</div>
			<div class="col-lg-4 col-lg-offset-4 col-md-6 col-sm-6 col-xs-6 flexbox">
				<div class="iconimg showner" id="partner-5"></div>
			</div>
		</div>
		<div class="row " id="row-3">
			<div class="col-lg-4 col-lg-offset-1 col-md-6 col-sm-6 col-xs-6 flexbox">
				<div class="iconimg showner" id="partner-2"></div>
			</div>
			<div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-6 col-xs-6 flexbox">
				<div class="iconimg showner" id="partner-4"></div>
			</div>
		</div>
		<div class="row " id="row-4">
			<div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12 flexbox">
				<div class="iconimg showner" id="partner-3"></div>
			</div>
		</div>

	</div>

</section>
