<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title></title>
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">product-->
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">product-->
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css"><!--deve-->
	<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css"><!--deve-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet" type="text/less" href="/less/landing.less"> <!-- less-css -->
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
</head>
<body>
	<div class="leftframe"></div>
	<div class="centerframe">
		<% include ../header %>
		<div class="topframe" data-title="Home">
			<div class="cover flexbox full">
				<div class="maintitle flexbox direc-col full">
					<span txt="h1" class="bigpage"></span>
				</div>
			</div>
		</div>
		<div class="pageframe">
			<% include v0.1/page-1 %> 
  			<% include v0.1/page-2 %>
			<% include v0.1/page-3 %>
			<% include v0.1/page-7 %>
			<% include v0.1/page-6 %>
			<% include v0.1/page-5 %>
			<% include v0.1/page-4 %>
		</div>

		<% include ../bottom %>
		<% include ../seajs %>

</body>
</html>