<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="http://172.168.1.88:3000/stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/Font-Awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet/less" type="text/css" href="/less/landing.less">

</head>
<body>
	<div class="leftframe"></div>
	<div class="centerframe">
		<% include ../header %>
		<div class="topframe" data-title="Home">
			<div class="cover flexbox full">
				<div class="maintitle flexbox direc-col full">
					<span txt="h1"></span>
				</div>
				<div class="downdir">
					<li class="nextpage fa fa-angle-double-down" style='color:white;'></li>	
				</div>
			</div>
		</div>
		<div class="pageframe">
			<% include v0.1/page-1 %> 
  			<% include v0.1/page-2 %>
			<% include v0.1/page-3 %>
			<% include v0.1/page-7 %>
			<% include v0.1/page-6 %>
			<% include v0.1/page-5 %>
			<% include v0.1/page-4 %>
		</div>

		<% include ../bottom %>

	<script src="http://172.168.1.88:3000/javascripts/seajs-3.0.0/dist/sea.js"></script>

	<script>
	  seajs.config({
	    base: "/javascripts/",
	    alias: {
	    	"jquery": "http://172.168.1.88:3000/javascripts/jquery/jquery-seajs.js",
	    	"jq-transition": "http://172.168.1.88:3000/javascripts/jquery/jq-transition-seajs.js",
	    	"bootstrap-js": "http://172.168.1.88:3000/stylesheets/bootstrap/js/bootstrap-seajs.js",
	    	"less": "http://172.168.1.88:3000/javascripts/less.js"
	    }
	  });

	   seajs.use("home/main-home");

	</script>

</body>
</html>