<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="http://172.168.1.88:3000/stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/Font-Awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="http://172.168.1.88:3000/javascripts/jquery/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="http://172.168.1.88:3000/javascripts/jquery/jq-mousewheel.js"></script>
	<script type="text/javascript" src="http://172.168.1.88:3000/javascripts/jquery/jq-transition.js"></script>
	<script type="text/javascript" src="http://172.168.1.88:3000/stylesheets/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/landing.css">

	<link rel="stylesheet/less" type="text/css" href="/less/header.less">

	<script type="text/javascript" src="http://172.168.1.88:3000/javascripts/less.js"></script>
	
</head>
<body>
	<div class="leftframe"></div>
	<div class="centerframe">
		<% include ../header %>
		<div class="topframe" data-title="Home">

			<div class="cover flexbox full">
				<div class="maintitle flexbox direc-col full">
					<span txt="h1"></span>
					<h1 txt="h2"></h1>
				</div>
				<div class="downdir">
					<li class="nextpage fa fa-angle-double-down" style='color:white;'></li>	
				</div>
			</div>
		</div>
		<div class="pageframe">
			<% include v0.1/page-1 %>
  			<% include v0.1/page-2 %>
			<% include v0.1/page-3 %>
			<% include v0.1/page-6 %>  
			<% include v0.1/page-5 %>
			<% include v0.1/page-4 %> 
		</div>

		<% include ../bottom %>
<!-- 	</div>
	<div class="rightframe">
	</div>
	 -->
	<!--<script type="text/javascript" src="/javascripts/landing.js"></script> -->
	<script type="text/javascript">


	function loadlang(lang) {
		$.ajax({
			'url':'/gettext',
			'type' : 'get',
			'data' : {language: lang},
			'success' : function (data) {
					$('[txt]').each(function () {
						$(this).text(data[$(this).attr('txt')]);
					})
					rendertext();
				},
			'error' : function () {
					alert('loading fail, network disconnect');
				}
		});			
	}

	$(document).ready(loadlang('English'));

	$('.changelanguage').on('click', function () {
		loadlang($(this).text());
	})

	function rendertext () {
		var i = 2;
		$('#page-1 #row-2 .col:not(:last-child) .texts').each(function () {
			var srcele = '#page-'+ i;
			$(this).children('h2').text($(srcele+' .pagetitle').text());
			$(this).children('h3').text($(srcele+' .onestatment').text());
			i++;
		})
	}

	</script>
</body>
</html>