<!DOCTYPE html>
<html>
<head>
	<title>Radxa Product</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><!--product-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--product-->
<!--	<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">deve-->
<!--	<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">deve-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/font.css">
	<link rel="stylesheet" type="text/css" href="/less/about.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap/css/animate.min.css" type="text/css">
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
</head>

<body >
	<% include ../header %>
	<div class="space"></div>
	<div class="container">
		<% for(var k = 0; k < mark.length ; k++){%>
			<div class="markcontent" id="<%= k+1 %>">
				<%- mark[k].text %>
			</div>
			<%- k != mark.length - 1?"<hr>":"";%>
		<% } %>
	</div>
	<% include ../bottom %>

	<% include ../seajs %>

</body>
</html>