@header-height: 90px;
@radxa-blue: #0199cb;
@radxa-dark: #404040;
@radxa-sdark: #333333;
@radxa-oring: #f4972a;
@radxa-main: #F3F3F3;

@phonewidth: 767px;
@padwidth: 1200px;
@mdwidth:992px;
@pcwidth:1300px;


.flexbox{
	display: flex;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.direc-col{
	-webkit-flex-direction: column;
	flex-direction: column;
}

.main-start{
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.main-end{
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.main-between{
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.main-around{
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.secon-start{
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.secon-end{
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.secon-between{
	-webkit-align-items: space-between;
	align-items: space-between;
}

.secon-around{
	-webkit-align-items: space-around;
	align-items: space-around;
}




.full{
	width: 100%;
	height: 100%;
}

.portfolio-modal {
	.modal-content {
	    border-radius: 0;
	    background-clip: border-box;
	    -webkit-box-shadow: none;
	    box-shadow: none;   
	    border: none;
	    min-height: 100%;
	    padding: 0px;
	    text-align: center;
		img {
			margin-bottom: 30px;
			cursor: pointer;
		}
		.item-details {
			margin: 30px 0;
		}
	}

}
