@import "animation.less";

/*====================   bottom  ====================*/

.bottomframe {
    a {
        text: expression(target="_blank");
        display: block;
        color: black;
        opacity: 0.5;
        &:hover{
            color:black;
            text-decoration:none;
        }
    }
    width: 100%;
    background-color:@radxa-main;
    font-size:15px;
    padding-bottom:30px;
    padding-top:30px;
    hr{
        border-color: #ccc;
    }
    .line{
        border-right:1px solid #E8E8E8;
    }
    .content{
        .icons{
            line-height: 0px;
            @linkicon:50px;
            a{
                opacity: 1;
            }
            .right, .left{
                display: inline-block;

            }
            .up{
                .left{
                    font-size: @linkicon;
                    padding-left: @linkicon*0.07;
                    padding-right: @linkicon*0.07;
                }
                .right{
                    font-size: @linkicon/2;
                    a{
                        padding-right: @linkicon/2*0.07;
                        padding-left: @linkicon/2*0.07;
                    }
                }
                text-transform: uppercase;
            }
            .down{
                font-size: @linkicon/2;
                a{
                    display: inline-block;
                    padding-right: @linkicon/2*0.07;
                    padding-left: @linkicon/2*0.07;
                }
                text-transform: uppercase;
            }
        }
        .linkicon-github{
            color:black;
        }
        .linkicon-flickr{
            color:#308048;
        }
        .linkicon-google{
            color:#db4437;
        }
        .linkicon-facebook{
            color:#355089;
        }
        .linkicon-twitter{
            color:#55acee;
        }
        .linkicon-talk{
            color: black;
        }
    }

    @media (max-width: 768px) { 
        figure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
        }
    } 
    .copyright{
        img, h6{
            display: inline-block;
        }
    }
}
