
/*====================   bottom  ====================*/
.bottomframe{
	a{
		text:expression(target="_blank");
	}
	width: 100%;
	background-color: #2C3E50;
	color: white;
	font-size:12px;
	.col{
		& > div{
			align-items: flex-start;
			-webkit-align-items: flex-start;
		}
		min-height: 100px;
		.links span{
			display: inline-block;
			min-width: 70px;
		}
	}
}