@import "animation.less";
@import "mark.less";

.jumbotron{
	margin-top: 100px;
	text-shadow: 1px 1px 2px black;
	background: url("/images/project/download20.jpg") no-repeat top center;
	background-size: cover;
	height: 400px;
	#bigbord{
		position: relative;
	}
	margin-bottom: 0px;
	color: white;
}

.allcontent{
	h2:after{
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		background-color: @radxa-blue;	
	}
	.sec{
		margin-bottom: 150px;
		a:hover{
			opacity: 0.8;
		}
	}
	img{
		max-width: 30%;
		margin-bottom: 10px;
		margin-right: 10px;
		width: 100%;
		max-height: 180px;
	}
	.rightframe{
		.active{
			font-weight: bold;
			a{
				background-color: @radxa-blue;
				color: white ;
			}
		}
		.affix{
			top: 60px;
		}
	}

	.centerframe{
		left: -30px;
		background-color: #F5FFFA;
		#ss{
			height: 300px;
		}
		.videos{
			figure{
				max-width:30%;
				min-height: 180px;
				position: relative;
				.fa{
					position: absolute;
					font-size: 100px;
					display: inline-block;
					top: 20%;
					left: 35%;
					opacity: 0.2;
					cursor: pointer;
				}
				video{
					position: absolute;
					max-height: 180px;
					cursor: pointer;
				}
				&:hover{
					video{
						opacity: 0.5;
					}
					.fa{
						opacity: 1;
					}
				}
			}
		}

	}

}
