#page-1 .allcontent{
	width: 90%;
	height: 90%;
}

#page-1 .allcontent .title-line{
	height: 15%;
	width: 80%;
}


#page-1 .allcontent .info-group{
	height: 80%;
	width: 90%;	
}

#page-1 .allcontent .info-group .info{
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#page-1 .allcontent .info-group .info .iconimg{
	height: 40%;
	width: 60%;
}

#page-1 .allcontent .info-group .info .texts{
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#page-1 .allcontent .info-group .info .texts p:nth-child(1){
	color: #333333;
	font-family: Candara;
	font-size: 30px;
}
#page-1 .allcontent .info-group .info .texts p:nth-child(2){
	color: #686767;
	font-family: Roboto-Condensed;
	font-size: 28px;
}
#page-1 .allcontent .info-group .info .morebtn{
	height: 10%;
	width: 100%;
}

#page-1 .allcontent .info-group .info:nth-child(1) .iconimg{
	background: url(/images/page1/product.png) no-repeat;
	background-size: 100% 100%;
}
#page-1 .allcontent .info-group .info:nth-child(2) .iconimg{
	background: url(/images/page1/10ai.png) no-repeat;
	background-size: 100% 100%;
}
#page-1 .allcontent .info-group .info:nth-child(3) .iconimg{
	background: url(/images/page1/family.png) no-repeat;
	background-size: 100% 100%;
}

