.time-lines{
	height: 10%;
	top: 5%;
	left: 10%;
	width: 80%;
	position: absolute;
}

#page-3 .stepicon{
	height: 100%;
	width: 95px;
	border-radius: 50%;
	border: 1px solid #0199cb;
}

#page-3 .stepicon:nth-of-type(1){
	background: url('/images/workflow-icon/bulb-icon.png') no-repeat center center;
	background-size: 60% 60%;
}
#page-3 .stepicon:nth-of-type(3){
	background: url('/images/workflow-icon/design-icon.png') no-repeat center center;
	background-size: 60% 60%;
}
#page-3 .stepicon:nth-of-type(5){
	background: url('/images/workflow-icon/product icon.png') no-repeat center center;
	background-size: 60% 60%;
}
#page-3 .stepicon:nth-of-type(7){
	background: url('/images/workflow-icon/test icon.png') no-repeat center center;
	background-size: 60% 60%;
}
#page-3 .stepicon:nth-of-type(9){
	background: url('/images/workflow-icon/thumb icon.png') no-repeat center center;
	background-size: 60% 60%;
}

#page-3 .right-box{
	position: relative;
	height: 50%;
	width: 80px;
}

.direction-right{
	height: 100%;
	width: 100%;
	position: relative;
	display: inline-block;
}

.direction-right:before{
	content: "";
	height: 2px;
	width: 100%;
	background-color: #0199cb;
	display: block;
	position: absolute;
	float: left;
	margin-top:23%;
}

.direction-right:after{
	content: "";
	padding-bottom: 40%;
	width: 40%;
	border-top: 3px solid #0199cb;
	border-right: 3px solid #0199cb;
	position: absolute;
	display: block;
	top: 4%;
	left: 60%;

	transform:rotate(45deg) scale(0.75) ;
	-ms-transform:rotate(45deg) scale(0.75); 
	-moz-transform:rotate(45deg) scale(0.75); 
	-webkit-transform:rotate(45deg) scale(0.75); 
	-o-transform:rotate(45deg) scale(0.75); 	
}

#page-3 .img-1{
	height: 60%;
	width: 40%;
	top: 20%;
	left: 10%;
	background: url("/images/pages/prototype (2).png") no-repeat center center;
	background-size: 80% 90%;
}

#page-3 .img-2{
	height: 20%;
	width: 10%;
	top: 30%;
	left: 73%;
	background: url("/images/pages/prototype.png") no-repeat center center;
	background-size: 90% 90%;
}

#page-3 .text{
	height: 50%;
	width: 30%;
	top: 40%;
	left: 50%;
}
