#page-2 .allcontent{
	width: 90%;
	height: 90%;
}

#page-2 .allcontent .title-line{
	height: 15%;
	width: 80%;
}

#page-2 .allcontent .info-group{
	height: 80%;
	width: 90%;
}

#page-2 .info{
	height: 100%;
}

#page-2 .info > div{
	position: relative;
}


#page-2 .info1{
	width: 10%;
}

#page-2 .info2{
	width: 40%;
}

#page-2 .info3{
	width: 40%;
}

#page-2 .info1 div{
	height: 22%;
}

#page-2 .info2 div{
	width: 80%;
	height: 80%;
}
#page-2 .info2 div p:nth-child(1),
#page-3 .text p:nth-of-type(1){
	font-size: 30px;
	font-family: Candara; 
}
#page-2 .info2 div p:nth-child(3),
#page-3 .text p:nth-of-type(2){
	font-size: 25px;
	font-family: Roboto-Condensed; 
}

#page-2 .info2 div p:nth-child(5),
#page-3 .text p:nth-of-type(3){
	font-size: 25px;
	font-family: Roboto-Light;
}

#page-2 .info3 div{
	height: 70%;
	top: 30%;
}


#page-2 .info1 .iconimg{
	background: url(/images/pages/hardware.png) no-repeat;
	background-size: 100% 100%;
}

#page-2 .info3 .iconimg{
	background: url(/images/pages/rock.png) no-repeat;
	background-size: 100% 100%;
}